.root {
  min-height: 100%;
  font-family: var(--font-geist-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body {
  min-height: 100%;
}

.appShell {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  min-height: 100vh;
}
